.yourProfile{
    margin-left: 30px;
    width: 850px;
    height: calc(100vh - 150px);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.yourProfile-container{
    width: 95%;
    height: auto;
}

.yourProfileHeaderAndEdit{
    display:flex;
    justify-content: space-between;
    padding: 15px 0px;
    border-bottom: 1px solid #5e5e6225;
    align-items: center;
}
.yourProfileHeader h1{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0px;
}
.yourProfileEditBtn h2{
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0px;
    color: #041342;
    text-decoration: underline;
    cursor: pointer;
}

/* ----------------your Image and your Name------------------ */
.yourImgAndName{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.yourImg{
    width: 76px;
    height: 76px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #BFBFBF;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.yourImgEdit{
    position: absolute;
    top: 40%;
    left: 90%;
    transform: translate(-50%,50%);
}
.yourProfileName{
    margin-left: 20px;
}
.yourProfileName h3{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0px;
}
.yourProfileName p{
    font-size: 13px;
    font-weight: 400;
    margin-top: 6px;
    color: #041342;
}

/* ----------------Contact Details----------------- */
.yourContactHeader h3{
    font-size: 16px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 15px;
}


.yourContactDetailsContainer{
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.yourContactDetailsContainer h4{
    font-size: 14px;
    font-weight: 400;
    color: #5E5E62;
    margin-bottom: 5px;
}
.yourContactDetailsContainer h3{
    font-size: 16px;
    font-weight: 400;
}
.yourContactContainer{
    width: 30%;
}

/* ---------------REset Passwowrd-------------- */
.yourResetPassword h3{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    color: #041342;
    text-decoration: underline;
    cursor: pointer;
}


/* -----------------Edit Your Details----------------- */
.editYourDetails{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top: 20px;
}
.addyourContactHeader h3{
    font-size: 16px;
    font-weight: 700;
}
.addyourAddressLocation{
    display: flex;
    width: 90%;
    justify-content: space-between;
}
.addyourLocation{
    width: 212px;
}
.addyourLocation label{
    font-size: 13px; 
}
.addyourLocation input{
    height: 42px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #9FA2B4;
    padding: 0px 3px 0px 20px;
}

.addyourBtns{
    margin-top: 20px;
}